<nav class="navbar navbar-dark bg-dark sticky-top">
  <a href="/cocktails" class="navbar-brand">Cocks and tails</a>
  <form class="form-inline" action="/cocktails" method="get">
    <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/cocktails/new">Add Cocktail</a>
  </form>

</nav>
