
<div class="card" style="width: 18rem;">

 <%= simple_form_for [@cocktail, @dose] do |f| %>
 <%= f.association :ingredient %>
 <%= f.input :description, error: 'Mandatory field' %>
 <%= f.submit "Add Dose", class: "btn btn-primary" %>
 <% end %>
</div>
